<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add a Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container" style="background-color: aliceblue">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active ">
            <a class="nav-link" href="/">Car Listing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Add Catagories</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/">Add Car</a>
        </li>

    </ul>
</nav>

            <div class="jumbotron" style="background-image: url(https://res.cloudinary.com/de6d1rruj/image/upload/c_scale,h_100,w_100/v1563895791/toyota_camry_toyota-camry_2019-1541699469561_l7xomq.jpg);background-size: 100%;">
                <h1 class="display-4">Firehiwot Dealer</h1>
                <p class="lead">Welcome to Firehiwot Dealer</p>
                <hr class="my-4">

            </div>

                <div>
                    <h3>Categories</h3>
                </div>
                <table class="table">

                    <tr th:each="category: ${categories}">
                        <td th:text="${category.categoryName}"></td>
                        <td>
                            <div>
                                <a th:href="@{/update/{id}(id=${category.id})}"
                                   class="btn btn-outline-secondary">Update</a>
                                <a th:href="@{/detail/{id}(id=${category.id})}" class="btn btn-outline-secondary">Details</a>
                                <a th:href="@{/delete/{id}(id=${category.id})}"
                                   class="btn btn-outline-danger">Delete</a>
                                <a th:href="@{/addcars}" class="btn btn-outline-secondary">Add Cars</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
        </div>
    </div>
</nav>
</body>
</html>